@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}
